body {
	background-color: lightblue;
}
.Content {
	background-color: white;
	height: 1500px;
	width: 1200px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
	display: flex;
	margin-top: 10px;
}
.text-box {
	position : relative;
    	height : 20%;
    	width : 5%;
    	text-align : center
}
	
.text {
	height : 1.2 em;
    	width : 5%;
    	margin : auto;
    	position : absolute;
    	top:0;
    	bottom:0;
    	left:0;
    	right:0;
}
