body {
	background-color: lightblue;
}
.Content {
	background-color: white;
	height: 1500px;
	width: 1200px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
	display: flex;
	margin-top: 10px;
}
.text-box {
	width: 50%;
	height: 300px;
	
.text {
	border: 2px solid black;
}
